@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: righteous;
    src: url(./assets/Righteous-Regular.ttf) format("truetype");
    font-family: QuickSand;
    src: url(./assets/Quicksand-VariableFont_wght.ttf) format("truetype");
}